<p>体重の変動</p>
 <%= line_chart @weights, xtitle: "日付", ytitle: "体重",
 id: "users-chart", width: "1400px", height: "500px" %>
 
<br></br>
<p>記録</p>
<div>
 <% @weight_ids.each do |elem1, elem2, elem3| %>
  <br>
   <%= I18n.l elem1, format: :short %>
   <strong>
   <%= link_to elem2, edit_human_weightpost_path(:human_id, elem3), class: 'btn btn-default' %>
   Kg
   </strong>
  </br>
 <% end %>
</div>