@import "bootstrap";

/* header */
#logo {
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#home {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

#login {
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

html {
  height: 100%;
}
body {
  padding-top: 70px;
  text-align: center;
  height: 100%;
}

.fixed-top {
  background: black;
  height:　50px;
  line-height: 50px;
}

.col {
  display: inline-block;
}

.fixed-bottom {
  background: black;
  line-height: 50px;
  height: auto;
  margin-top: auto;
  position:absolute;
	bottom:0;
}

.alert {
  text-align: center;
}